<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav>
    <ul>
      <li class="home"><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/auth/logout">Signout</a></li>
    </ul>
  </nav>
  <header>
    <h2>WELCOME<br>TO<br>RED</h2>
  </header>
</body>
</html>