<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/logout">Signout</a></li>
    </ul>
  </nav>
  <header>
    <h1>Login using</h1>
  </header>
  <main>
    <a class="google-btn" href="/auth/google">Google+</a>
  </main>
</body>
</html>