body {
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  background: #ccc;
}

.header{
  height:4em;
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.left_nav{
  width: 75%;
  text-align:center;
  font-size: 45px;
}
.right_nav ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.right_nav li{
  margin-right: 15px;
}
.navBar {
  background:lightsteelblue;
}

nav {
  background: white;
  padding: 20px 10px;
}

nav ul {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}

nav li {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px 0 0;
}

nav a {
  color:grey;
  font-size: 15px;
  text-decoration: none;
  padding: 10px;
}

main{
  max-width: 960px;
  margin: 30px auto;
  padding: 0 10px;
  color:grey;
  font-size: 19px;
  text-align: center;
  justify-content: center;
}

h2 {
  margin-top: 43%;
  margin-left: 15%;
  padding: 0;
  text-align: center;
}

.google-btn {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  background: #f16d6d;
}
#container{
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-gap: 5px;
}
#sidebar{
  width: 285px;
  margin:5px;
  overflow-y: auto;
}
.monthBox {
  display: flex;
  flex-direction: column;
}
.weekBox {
  display: flex;
  flex-direction: row;
}
.headerBox {
  text-align: center;
  padding: 20px;
  background-color: white;
  width:30%;
  margin: 5px;
  float:left;
  font-size: 2em;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
}
.dayBox {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100px;
  padding: 15px;
  width:30%;
  margin: 5px;
  float:left;
  font-size: 1.5em;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
}
.dayBox:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
}

.navBar {
  display: flex;
  flex-direction: row;
}

.barContainer {
  display: inline-block;
  padding-top: 0px;
  /* border: 1px solid red; */
  margin: 6em;
}
.barTitle {
  display: block;
  padding-top: 0px;
  /* border: 1px solid red; */
  margin: 1em;
}
.XAxis text {
  transform: rotate(-45deg);
  text-anchor: end;
}
#sideHeader{
  height: 100px;
  color: white;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  font-size: 15px;
}
.footer a {
  text-decoration: none;
  color: black;
  transition: all 2s;
}
.footer a:hover {
  color:dodgerblue;
  font-size: 2em;
}
.MuiCardContent-root-160{
  display:grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.entrySection{
  width: 75%;
  padding-left: 25px;
  line-height: 20px;
}
.lbl{
  font-weight: bold;
  width: calc(25% - 25px);
  margin-right: 25px;
  margin-bottom: 10px;
  line-height: 20px;
}
button a{
  color:white;
  text-decoration:none;
}